<form action="/new-book" method="post">
  <label for="">Title:</label>
  <input type="text" name="title">

  <label for="">Author:</label>
    <select name="author" id="">
        {{#each authors}}
            <option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

  <label for="">Description:</label>
  <input type="text" name="description">

  <label for="">Rate:</label>
  <input type="number" name="rating">

  <button type="submit">ADD</button>
</form>